Lists: Question - Appending and Removing Elements: Create an empty list called my_list. Append the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list.

In [1]:
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(3)
my_list.remove(2)

my_list

[1, 3]

Question- Accessing Elements: Create a list called fruits containing the strings "apple", "banana", "cherry", "date". Print the second element of the list.

In [7]:
fruits = ["apple", "banana", "cherry", "date"]
second_element = fruits[1]

second_element

'banana'

Question- Slicing: Create a list called numbers containing the numbers from 1 to 10. Print a slice of the list containing elements from the third element to the sixth element.

In [8]:
# Slicing a list
numbers = list(range(1, 11))
sliced_numbers = numbers[2:6]  # Indices 2 through 5 (third to sixth elements)

sliced_numbers

[3, 4, 5, 6]

Sets Question - Adding and Removing Elements: Create an empty set called my_set. Add the numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set.

In [9]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.remove(2)

my_set

{1, 3}

Question - Operations: Create two sets called set1 and set2, each containing a few numbers. Print the union, intersection, and difference of the two sets.

In [10]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)

union_set, intersection_set, difference_set

({1, 2, 3, 4, 5, 6}, {3, 4}, {1, 2})

Tuples Question - Accessing Elements: Create a tuple called coordinates containing the latitude and longitude of a location (e.g., (40.7128, -74.0060) for New York City). Print the latitude and longitude separately.

In [11]:

coordinates = (40.7128, -74.0060)
latitude, longitude = coordinates

latitude, longitude

(40.7128, -74.006)

Question - Packing and Unpacking: Create a tuple called person containing information about a person, such as their name, age, and city. Then unpack the tuple into individual variables.

In [12]:
person = ("Alice", 30, "New York")
name, age, city = person

name, age, city

('Alice', 30, 'New York')